@charset 'utf-8';

// ---------------
// FONTS
// ---------------
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800');


// ---------------
// IMPORTS FOUNDATION
// ---------------
@import 'settings';
@import 'foundation';
// @import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
@include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
@include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
// @include foundation-flex-classes;

// @include motion-ui-transitions;
// @include motion-ui-animations;
@include add-foundation-colors;


// ---------------
// MIXINS
// ---------------
@mixin separator {
	background-color: $primary-color;
  content: '';
	display: block;
  height: 3px;
	margin: 10px auto;
  width: 30px;

	@include breakpoint(medium) {
		margin: 15px auto;
	}
}

@mixin sup ($font-size, $margin-top) {
	display: inline-block;
	font-size: $font-size;
	font-weight: bold;
	margin-top: $margin-top;
	vertical-align: top;
}


// ---------------
// STYLES
// ---------------
.header {
	background-color: $primary-color;
	padding: 30px 0;
	text-align: center;

  @include breakpoint(medium) {
		padding: 50px 0;
	}

	&__title {
		color: $white;
		font-size: 1.5rem;
		font-weight: 800;

    @include breakpoint(medium) {
			font-size: 2.5rem;
			margin-bottom: 10px;
		}
	}

	&__subtitle {
		color: $white;
		font-size: 1rem;
		font-weight: 400;
		opacity: 0.75;

    @include breakpoint(medium) {
			font-size: 1.45rem;
		}
	}
}

.main {
  margin: 20px 0;

	@include breakpoint(medium) {
    margin: 30px 0;
  }
}

.payments {
  text-align: center;

  &__title {
    font-size: 1.175rem;
    font-weight: 600;
    margin-bottom: 20px;

    @include breakpoint(medium) {
      font-size: 1.25rem;
    }

    @include breakpoint(large) {
      font-size: 1.375rem;
    }
  }
}

.sliders {
	margin-top: 10px;

	@include breakpoint(medium) {
		margin-top: 20px;
	}

	&__shopify {

	}

	&__external {
		display: none;
	}

	&__title {
		text-align: center;
		font-size: 1rem;
		font-weight: 600;
		padding: 0;
		margin: 0;
	}

	&__value {
		font-size: 1.75rem;
		font-weight: 600;
		font-family: Helvetica, sans-serif;
		text-align: center;
		position: relative;

		@include breakpoint(medium) {
      font-size: 2rem;
    }

		sup {
			@include sup(1rem, 28px);
		}
	}

	&__help {
		color: $dark-gray;
		font-size: .8rem;
		text-align: center;
	}
}

#sliders-external {
	display: none;
}

.pay-plan {
	margin-top: 30px;
	text-align: center;

	&__title {
    font-size: 1.175rem;
    font-weight: 600;
    margin-bottom: 20px;

    @include breakpoint(medium) {
      font-size: 1.25rem;
    }

    @include breakpoint(large) {
      font-size: 1.375rem;
    }
  }
}

.plans {
	margin-top: 10px;
	text-align: center;

	&__info {
		margin-bottom: 25px;
		font-size: .8rem;
		color: $dark-gray;

		@include breakpoint(large) {
			margin-top: 25px;
			margin-bottom: 0;
		}
	}
}

.plan {
	border: solid 1px #BCE8D9;
	margin-bottom: 15px;
	position: relative;

	@include breakpoint(medium) {
		margin-bottom: 30px;
	}

	@include breakpoint(large) {
		margin-bottom: 0px;
	}

	&--best {
		border: solid 1px $primary-color;
	}

	&__header {
		background-color: #f0faf6;
		border-bottom: solid 1px #bce8d9;
		padding: 15px;

		&--best {
			background-color: $primary-color;
			border: solid 1px $primary-color;
			color: $white;
		}
	}

	&__content {
		padding: 25px 15px 5px;
		position: relative;

		p {
			font-size: .9rem;
			color: $dark-gray;
		}
	}

	&__title {
		font-size: 1rem;
		font-weight: 600;
		padding: 0;
		margin: 0;
	}

	&__subtitle {
		font-size: .8rem;
		font-weight: 600;
		text-transform: uppercase;
		padding: 0;
		margin: 0 0 5px;
	}

	&__pay {
		font-size: 2rem;
		font-weight: 600;
		font-family: Helvetica, sans-serif;
		margin-bottom: 5px;

		sup {
			@include sup(1rem, 28px);
		}
	}

	&__separator {
		@include separator;
		border: none;
	}

	&__cost {
		font-size: 1.25rem;
		font-weight: 600;
		font-family: Helvetica, sans-serif;
		margin-bottom: 15px;

		sup {
			@include sup(0.7rem, 18px);
		}
	}

	&__ribbon {
		background: url(../images/best-choice.svg) no-repeat center;
		background-size: 75px 75px;
		height: 75px;
		width: 75px;
		position: absolute;
		top: -15px;
		right: 15px;
		display: none;
	}
}

.ads {
	margin-top: 0;

	@include breakpoint(large) {
		margin-top: 40px;
	}

	&__banner {
		margin: 0 auto 20px;
		width: 300px;
		height: 250px;

		@include breakpoint(medium) {
			width: 728px;
			height: 90px;
		}
	}

	&__contact {
		color: $dark-gray;
		font-size: 1rem;
		text-align: center;
		margin-bottom: 5px;
	}
}

.footer {
	text-align: center;
	margin-bottom: 50px;

	&:before {
		@include separator;
	}

	&__by {
		color: $dark-gray;
		font-size: .85rem;
		padding: 5px 0 0;
	}

	&__partner {
		margin: 10px auto 5px;
		width: 150px;
	}
}

.share {
	text-align: center;

	&__title {
    font-size: 1.175rem;
    font-weight: 500;
    margin: 20px 0;

    @include breakpoint(medium) {
      font-size: 1.25rem;
    }

    @include breakpoint(large) {
      font-size: 1.375rem;
    }
  }

	li img{
		width: 32px;
		height: 32px;
	}
}

.leads {
	background-color: #f1f1f1;
	height: 300px;
	margin: 30px 0;
	padding: 50px 0;
	text-align: center;

	&__title {
		font-size: 1.5rem;
		font-weight: 500;

		&:after {
			@include separator;
		}
	}
}

// ---------------
// FOUNDATIONS OVERRIDE
// ---------------
.slider {
	margin-top: 10px;
	margin-bottom: 30px;
}
